
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <center>
        <h1>md bootstrap scrollin images</h1>
        <button type="button" class="btn btn-success">Success</button>
    </center>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{%static 'js/popper.js' %}"></script>
    <script src="{%static 'js/bootstrap.js' %}"></script>
    <script src="{%static 'js/mdb.js' %}"></script>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="{% static 'images/aquarium.jpg' %}" class="d-block w-75" width="750px" height="750px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/beach.jpg' %}" class="d-block w-75" width="750px" height="750px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/flower garden.jpg' %}" class="d-block w-75" width="750px" height="750px" alt="...">
          </div>
        </div>
      </div>
    
</body>
</html>